<div class="card" id="form">
  <div *ngIf="question">
    <img src="{{question.urlImage}}">
    <div id="enonce">Enoncé : {{question.label}} </div>
    <div *ngFor="let answer of question.answers, let i = index">
      <div *ngIf="quiz && quiz.questions.length > quiz.questions.indexOf(question)+1; then classic else lastQuestion"></div>
      <ng-template #classic>
        <button class="answer-button"  id="reponses" (click)="checkAnswer(answer,false); clearTimeout()">{{answer.value}}</button>
      </ng-template>
      <ng-template #lastQuestion> <!-- Retour à la liste des thèmes après avoir répondu -->
        <button class="answer-button" (click)="checkAnswer(answer,true); clearTimeout()">{{answer.value}}</button>
      </ng-template>
    </div>
  </div>

  <br>
  <div *ngIf="answerIsCorrect" id="bravo">
    BRAVO !
    <br>
    <br>
    <audio controls autoplay>
      <source src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Applause.ogg" type="audio/ogg">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
