<div class="card">
  <div *ngIf="question">
    <h3>Enoncé : {{question.label}}</h3>

    <div *ngFor="let answer of question.answers, let i = index">
      <div *ngIf="quiz && quiz.questions.length > quiz.questions.indexOf(question)+1; then classic else lastQuestion"></div>
      <ng-template #classic>
        <button class="button-card" routerLink="../{{quiz.questions[quiz.questions.indexOf(question)+1].id}}">{{i+1}}. {{answer.value}}</button>
      </ng-template>
      <ng-template #lastQuestion> <!-- Retour à la liste des quiz après avoir répondu -->
        <button class="button-card" routerLink="">{{i+1}}. {{answer.value}}</button>
      </ng-template>
    </div>
  </div>
</div>
