@import '../../../styles/card.scss';

#form {
  flex-wrap: wrap;
  position: absolute;
  margin-top: 5%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#enonce {
  font-weight: bold;
  font-size: 200%;
  margin-top: 4%;
}

#bravo {
  font-weight: bold;
  font-size: 200%;
  color: black;
}

audio {
  display: none;
}
