<div class="card" id="form">
  <h2>Créer un nouveau quiz</h2>

  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Nom du quiz : <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <div *ngIf="theme">
      <button class="button-card" routerLink="../quiz-list" id="creer" (click)="addQuiz()">Créer</button>
    </div>
  </form>
</div>

<button class="button-card" routerLink="../quiz-list" id="quizzes">Retour à la liste des quiz</button>
