@import "./variables";

.card {
  background: mintcream;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 0 1em 1em 1em;
}

.button-card {
  font-weight: bold;
  padding: 0.2em 0.5em;
}

.answer-button{
  background: lightsalmon;
  font-weight: bold;
  padding: 0.2em 0.5em;
  font-size: 200%;
  margin-top: 10%;
}

.button-card:hover {
  cursor: pointer;
}

.return-button{
  background: beige;
  font-weight: bold;
  font-size: 125%;
  padding: 0.5em 1em;
}

.users-button{
  background: lightgrey;
  font-size: 110%;
  padding: 0.2em 0.5em;
}

.creation-button{
  padding: 0.2em 0.5em;
  position: relative;
  background: peru;
  font-weight: bold;
}
