@import '../../../styles/card.scss';

#form {
  position: relative;
  left: 35%;
}

#nameTheme{
  font-size: 30px;
}
#texteTheme{
  font-size: 40px;
}



#name{
  font-size: 60%;
}

#creer {
  position: relative;
  left: 69%;
  font-size: 150%;
  background: lightsalmon;
}

#themes {
  position: relative;
  margin-top: 4%;
  left: 8%;
}

