@import '../../../styles/card.scss';

#form {
  position: relative;
  left: 35%;
}

.button-card {
  font-size: 20px;
  color: black;
}

#creer {
  position: relative;
  left: 200px;
  width: 100px;
  height: 56px;
  size: 1000px;
}

#themes {
  position: relative;
  top: 80px;
  left: 0;
}

