<div class="card" id="form">
  <h2 id="texteTheme">Créer un nouveau thème</h2>

  <form class="theme-form" [formGroup]="themeForm">
    <label for="name" id="nameTheme">
      Nom du thème : <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <button class="creation-button" routerLink="" id="creer" (click)="addTheme()">Créer</button>
  </form>
</div>

<div>
<button class="return-button" routerLink="" id="themes">Retour à la liste des thèmes</button>
</div>
