@import '../../../styles/card.scss';

#form {
  position: absolute;
  margin-top: 50px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nameTheme{
  font-size: 30px;
}

#texteTheme{
  font-size: 40px;
}

#name{
  font-size: 60%;
}

#creer {
  position: relative;
  left: 69%;
  font-size: 150%;
  background: lightsalmon;
}

#themes {
  font-size: 20px;
  position: relative;
  margin-top: 25%;
  left: 8%;
}

