@import '../../../styles/card.scss';

.user-list {
  display: flex;
}
#btnTheme{
  position: relative;
  font-size: 100%;
  left: 2%;
}

.button-card{
  position: relative;
  font-size: 20px;
  background: cornflowerblue;
  left: 20px;
}
