<div class="card">
  <h2>Créer une nouvelle question</h2>
  <form class="question-form" [formGroup]="questionForm">
    <label for="label">
      Enoncé : <br>
      <input class="input-custom" type="text" id="label" [formControlName]="'label'">
    </label>

    <br>
    <div *ngIf="answers.controls.length < 4; then add else limit"></div>
    <ng-template #add>
      <button class="button-card" (click)="addAnswer()">
        <i class="fas fa-plus"></i> Ajouter une réponse
      </button>
    </ng-template>
    <ng-template #limit>
      Limite de question atteinte
    </ng-template>

    <div class="answer" formArrayName="answers">
      <div *ngFor="let address of answers.controls; let i = index">
        <div class="answer-form" [formGroupName]="i">
          <label>
            Réponse <input type="text" [formControlName]="'value'">
            <br>
            Réponse correcte ? <input type="checkbox" [formControlName]="'isCorrect'">
          </label>
        </div>
      </div>
    </div>

    <br>
    <button class="button-card" (click)="addQuestion()">
      <i class="fas fa-check"></i> Créer la question</button>
  </form>
</div>
