@import '../../../styles/card.scss';

h2 {
  background: cornflowerblue;
}

.button-card {
  background: white;
  margin-left: 1em;
}

#name{
  font-weight: bold;
  font-size: 150%;
  margin-top: 10%;
}

#demarrer{
  color: green ;
}

#supprimer{
  color: red;
}

#editer{
  color: darkviolet;
}

