@import '../../../styles/card';

#topHeader{
  margin-top: 2%;
  margin-left: 2%;
}

#nom{
  text-align: center;
}


#question-form{
  display: inline-block;
  vertical-align: top;
  margin-left: 11%;
  width:40%;
}


#questions {
  width: 50%;
}

#edit{
  margin-left: 25%;
}

#nom{
  margin-left: 22%;
  font-weight: bold;
  font-size: 130%;
}


