@import '../../../styles/card';

#nom{
  position: absolute;
  font-weight: bold;
  font-size: 130%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#question-form{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#questions {
  position: relative;
  top: 600px;
}

#edit{
  left: 30%;
}

#btnQuiz{
  margin-top: 1%;
  margin-left: 1%;
  font-size: 100%;
}
