<div class="card" id="form">
  <h2>Créer un nouveau quiz</h2>

  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Nom du quiz : <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <br>
    <label for="theme">
      Choisir un thème existant  : <br>
      <select name="theme-field" id="theme" [formControlName]="'theme'">
        <option *ngFor="let currentTheme of THEME_LIST" [value] = currentTheme> {{currentTheme}} </option>
      </select>
    </label>
    <br>
    <br>
    <br>
    <button type="submit" class="button-card" routerLink="/quiz-list" id="creer" (click)="addQuiz()">Créer</button>
  </form>
</div>

<button type="submit" class="button-card" routerLink="/quiz-list" id="quizzes">Retour à la liste des quiz</button>
