@import '../../../styles/card.scss';

.quiz-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 50px;
}

#headerDiv{
  margin-top: 0.5%;
}
#theme{
  font-size: 135%;
  font-weight: bold;
}

#btnQuiz{
  top: 5px;
  left: 43%;
  font-size: 110%;
}


#btnTheme{
  position: relative;
  font-size: 100%;
  left: 2%;
}

#btnUsers{
  position: relative;
  left: 44%;
}

#lastDiv{
  margin-top: 8%;
}


#router-creation{
  color: white;
}

#router-user{
  color : white;
}


#emptyQuiz{
  position: relative;
  text-align: center;

  left: 37%;
  font-size: 35px;
}
