<div *ngIf="theme">
  <div id="headerDiv">  <span id="theme"> Thème sélectionné : {{theme.name}} </span>
         <button class="creation-button" routerLink="../quiz-form" id="btnQuiz">Créer un nouveau quiz</button>
  </div>
  <br>
  <div class="quiz-list" *ngIf="theme.quizzes">
    <div id="emptyQuiz" *ngIf="theme.quizzes.length ===0">
      <span id="emptyQuizSpan"> <strong>Aucun quiz n'a été créé </strong> </span>
    </div>
    <div class="quiz" *ngFor="let quiz of theme.quizzes">
      <!--Inputs & Output allow communication between parent & child components.-->
      <!--More information: https://angular.io/guide/component-interaction-->
      <app-quiz [quiz]="quiz" (quizDeleted)="deleteQuiz($event)"></app-quiz>
    </div>
  </div>
</div>
<br>
<br>
<div id="lastDiv">
  <button class="return-button" id="btnTheme" routerLink="">Retour à la liste des thèmes</button>
  <button type="submit" class="users-button" routerLink="/user-list" id="btnUsers">Voir la liste des utilisateurs</button>
</div>

