.quiz-list {
  display: flex;
  position: relative;
  top: 50px;
}

.button-card{
  position: relative;
  font-size: 20px;
  background: cornflowerblue;
  left: 20px;
}

#users{
  position: relative;
  top: 50px;
}

#creation{
  top: 10px;
  left: 40%;
}

#users{
  top: 100px;
  left: 1%;
}

#router-creation{
  color: white;
}

#router-user{
  color : white;
}

#theme{
  position: relative;
  top: 10px;
  font-size: 30px;
}

#emptyQuiz{
  position: relative;
  text-align: center;

  left: 37%;
  font-size: 35px;
}
