@import '../../../styles/card';

.button-card {
  background: white;
  margin-left: 1em;
}

#btnDemarrer {
  color: green;
}

#btnSupprimer {
  color: red;
}

#btnEditer {
  color: darkviolet;
}

#btnResultats {
  color: black;
}

