@import '../../../styles/card';

h2 {
  background: cornflowerblue;
}

.button-card {
  background: white;
  margin-left: 1em;
}
#demarrer{
  color: green ;
}

#supprimer{
  color: red;
}

#editer{
  color: darkviolet;
}

