<div id="topMenuStyle">
  <p id="bienvenue">Bienvenue</p>
  <button class="creation-button" routerLink="/theme-form" id="btnTheme">Créer un nouveau thème</button>
</div>
<br>
<div class="theme-list" *ngIf="themeList">
  <div id="emptyTheme" *ngIf="themeList.length === 0">
    <span id="emptyThemeSpan" > <strong> Aucun thème n'a été créé  </strong></span>
  </div>
  <div class="theme" *ngFor="let theme of themeList">
    <app-theme [theme]="theme" (themeDeleted)="deleteTheme($event)"></app-theme>
  </div>
</div>

<nav>
  <button type="submit" class="users-button" routerLink="/user-list" id="btnUsers">Voir la liste des utilisateurs</button>
</nav>
